
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Face Recognition</title>
	<link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Styles/style.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
</head>
<body>

	<div>
		<div id="header"; style="height:100px; background-color: #92618E;">
			<input type="text" id="input" class="searchField" placeholder="Enter an url to a picture" />

			<button id="submit">Send</button>
		  
			<br />


			<div id="result"></div>
			<div id="gender"></div>
			<div id="age"></div>

			<div id="canvas"> </div>

		</div>
		<div id="placeHolder"></div>
		<div id="test"></div>
		<div id="rightEye"></div>
		<div id="leftEye"></div>
		<div id="nose"></div>
		<div id="mouth"></div>
		<div id="face"></div>

	</div>


			<script src="~/Scripts/Script.js"></script>
</body>
</html>

