

body{
    background-color:#F8EDE7;

}

#image {
    
background-repeat:no-repeat; 

       width:800px;
    height: 600px;
    /*overflow: hidden;*/
    /*float: left;*/

}

#header{
    padding: 1%;
}



